@import "tailwindcss";

.chat-message{
    background-color: gray;
    height:calc(100% - 50px);
    overflow-y: auto;
    color: gray;
    align-items: flex-end;
}

.message-right {
    background-color: #91fbff;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.message-left{
    background-color: aliceblue;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.message-text{
    font-size: 17px;
    padding: 10px;
    width: fit-content;
    max-width: 250px;
}
.logo-icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}